</div>
</td>
</tr>

<tr>
    <td>
        <div class="nano_padding nano_bg nano_rights nano_rights-font">
            <div class="nano_company">
                <img
                    src="https://raw.githubusercontent.com/anthonybudd/anthonybudd/master/img/express-ts-api-template.png?v=1"
                    alt="Logo"
                    width="120"
                    height="32"
                >

                <div class="nano_address">
                    <div class="nano_address-line">© 2026 AnthonyBudd.io</div>
                </div>
            </div>
        </div>
    </td>
</tr>
</tbody>
</table>
</div>
</body>

</html>